$text_navigation_color: white;
$navigation_item_padding: 50px;
$navigation_background_color: #2196F3;
$text_hover_navigation_color: #0360A8;

$navigation_first_item_color: $navigation_background_color;
$navigation_first_item_background_color: white;

$background_image_url: url('images/code_background.PNG');

// $text_color: #2196F3;
$text_color_alt: #0360A8;
$color_green: #4CAF50;


$text_color: #3c3c3c;



*, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    // background-color: orange;
}

h1, h2, h3, h4, h5, h6 {
    color: $text_color_alt;
}

p {
    color: $text_color;
}

img {
    height: 100%;
}

.page_wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navigation {
    animation: navFadeIn 1s 1;
    z-index: 1000;
    width: 100%;
}

.navigation ul {
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@for $i from 1 through 20 {
    li:first-child:nth-last-child( #{$i} ),
    li:first-child:nth-last-child( #{$i} ) ~ li {
      width: calc(100% / #{$i});
    }
  }

.navigation ul li.active {
    box-shadow: 7px 7px 100px -5px rgba(0,0,0,0.75);
    border: 5px solid white;
    color: $navigation_first_item_color;
    background-color: $navigation_first_item_background_color;
    width: 33%;
}

.navigation ul li.active > a {
    padding: 2.4px;
}

.navigation ul li {
    text-align: center;
    outline: 0px;
    list-style: none;
    color: $text_navigation_color;
    display: inline-block;
    // padding: $navigation_item_padding;
    width: $navigation_item_padding;
    height: $navigation_item_padding;
    background-color: $navigation_background_color;
    line-height: $navigation_item_padding;
    z-index: 100;
}

.navigation ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.navigation ul li:hover > a {
    background-color: white;
    color: #4CAF50;
    animation: slide 1s 1;
}

// .navigation ul li a:hover {
//     color: $text_hover_navigation_color;
// }

.__fixed {
    // display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    animation: none;
    visibility: hidden;
}

.__fixed ul li {
    background-color: rgba($navigation_background_color, .6);
    color: white;
    // border: 1px solid white;
    border-bottom: 2px solid $navigation_background_color;
}

.background {
    background-image: url('./images/code_background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.bg_overlay {
    // filter: blur(500px);
    // z-index: 1;
    background-color: rgba(white, .8);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: fadeIn 1s 1 ease;
    width: 100%;
    height: 100%;
}

.bg_overlay h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 64px;
    color: $text_hover_navigation_color;
}

.bg_overlay h4 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 20px;
    color: lighten($text_hover_navigation_color, 5);
}

.bg_overlay > .foot {
    color: grey;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 82%;
    animation: arrowJump 1.5s infinite;
}

.bg_overlay > .foot a {
    font-family: arial;
    line-height: 28px;
    letter-spacing: -5px;
    text-decoration: none;
    color: darken(white, 70);
}

.bg_overlay > .foot span.lines {
    font-size: 40px;
}

.content {
    width: 100%;
    height: 100%;
}

.block {
    // width: 250px;
    background-color: rgba(255, 255, 255, 1);
    min-height: 300px;
    height: auto;
    width: 250px;
    margin-top: 50px;
    margin-left: 25px;
    // display: flex;
    box-shadow: 0px -20px 120px -45px rgba(0,0,0,0.75);
    text-align: center;
    // margin-left: 15%;
    // border-radius: 5px;
}

.block_wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.block > h1, .block > h2, .block > h3, .block > h4 {
    text-align: center;
    color: $text_hover_navigation_color;
}

.block > img {
    margin-top: 10px;
    // margin-left: 10%;
    width: 200px;
    height: 200px;
}

.block > p {
    margin-top: 20px;
    text-align: center;
    display: block;
    color: $text_color;
}

.block > .__hover {
    display: none;
}

.block .__more-info {
    display: none;
}

.show_info {
    padding: 25px;
    margin: 50px;
    border: 1px solid $navigation_background_color;
    display: none;
}

.block:hover > img {
    border-radius: 100%;
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 40px -5px rgba(0,0,0,0.75);
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
}

.btn:active {
    border-radius: 500px;
}

.btn:hover {
    cursor: pointer;
}

.block .__hover > .btn {
    display: block;
    position: relative;
    margin-top: -52px;
}

.block .__hover > button {
    width: 100%;
    height: 50px;
}

.block:hover > .__hover {
    display: block;
}

.block:hover > p {
    visibility: hidden;
}

.block:hover {
    background-color: rgba(0, 0, 0, .5);
    max-height: 500px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.block:hover > h1,h2,h3,h4,h5,h6 {
    background-color: white;
    // padding-bottom: 2px;
    box-shadow: 5px 5px 40px 1px rgba(255,255,255,0.75);
}

.content_header {
    text-align: center;
    margin-top: 25px;
}

.content_header h1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.content_contact {
    text-align: center;
    margin-top: 100px;
}

.content_contact h1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.content_aboutme {
    text-align: center;
    margin-top: 100px;
}

.content_aboutme h1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.content_text {
    margin-left: 15%;
    margin-right: 15%;
}

.list {
    list-style: none;
    font-size: 18px;
    color: $text_color;
    // border: 1px solid $text_color_alt;
    // padding: 25px;
    // margin: -10px;
    line-height: 25px;
}

.skillList {
    border: 1px solid $navigation_background_color;
    margin-right: 20%;
    margin-left: 20%;
}

.skillList .list:first-of-type {
    margin-left: 8%;
}

.moreinfohover {
    color: $text_color_alt;
    font-size: 14px;
}

img.myselfPhoto {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
    border-radius: 100%;
}

.showcode {
    text-decoration: none;
    color: blue;
    background-color: lightblue;
}

@keyframes arrowJump {
    0% {
        top: 80%;
    }

    100% {
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        width: 0px;
    }

    0% {
        opacity: 0;
        width: 100%;
    }
}

@keyframes navFadeIn {
    0% {
        position: relative;
        top: -100px;
        width: 100%;
    }

    100% {
        position: relative;
        top: 0px;
        width: 100%;
    }
}

@keyframes slide {
    0% {
        height: 50%;
    }

    50% {
        height: 100%;
    }

    70% {
        height: 70%;
    }

    80% {
        height: 100%;
    }

    90% {
        height: 95%;
    }

    100% {
        height: 100%;
    }
}
